* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

:root {
	--background: #FFF8C5;
	--yellow: #FFFF00;
	--green: #51FF00;
	--soft-green: #77F7AE;
	--red: #FF0004;
}

html{
	image-rendering: pixelated;
}

body {
	font-family: Arial, Helvetica, sans-serif;
}

ul {
	list-style: none;
}
.border-3 {
	border: 3px solid black !important;
}

.border-1 {
	border: 1px solid black !important;
}

.border-2 {
	border: 2px solid black !important;
}
.shadow-4 {
	box-shadow: 4px 4px 0 0 !important;
}
.shadow-5{
	box-shadow: 5px 5px 0 0 !important;
}
body > main {
	margin: 0 auto;
	background: var(--background);
	height: 100vh;
	width: 400px;
	position: relative;
	border: 1px solid black;
	overflow: hidden;
}

nav {
	position: relative;
	height: 4rem;
	background-color: #fff;
	border-bottom: 3px solid black;
}

.logo {
	filter: brightness(0);
	height: 4rem;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

nav>label>img {
	height: 4rem;
}

main>nav>aside {
	height: calc(100vh - 4rem);
	width: 100%;
	background-color: white;
	position: absolute;
	top: 100%;
	transition: all 0.5s ease;
	transform: translateX(-100%);
	z-index: 100;
}

#checkbox:checked~aside {
	transform: translateX(0%);
}

main>nav>aside>ul {
	height: 100%;
	width: 100%;
	display: grid;
	grid-template-rows: repeat(10, 5rem);
	place-items: center;
	border: 2px solid black;
}

main>nav>aside>ul>li {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 100%;
	width: 100%;
	border-bottom: 1px solid black;
}

main>nav>aside>ul>li {
	cursor: pointer;
	border-bottom: 2px solid black !important;
}

main>nav>aside>ul>li:nth-child(1) {
	background-color: var(--green);
}