		.table-container {
			padding: 0.5rem;
		}

		table {
			border: 3px solid black;
			width: 100%;
			background-color: #fff;
			box-shadow: 4px 4px 0 0;
			text-align: center;
			border-spacing: 0;
			padding: 1rem 0;
			margin: 1rem 0;
		}

		.img {
			height: 100%;
			width: 100%;
			display: flex;
			justify-content: center;
		}

		.img>img {
			height: 2.5rem;
		}

		.your {
			background-color: rgb(255, 208, 0);
		}

		main {
			width: 100% !important;
		}